#showcontent th {
    border: none;
    color: #667C91;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.37px;
    line-height: 21px;
    background-color: #F4F7FF;
    vertical-align: middle;
    padding-left: 25px;
    padding-right: 25px;
}

#showcontent td{
    border: none;
    color: #33516C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 5;
    white-space: nowrap;
    padding-left: 25px;
    padding-right: 25px;
}